[mysqld]
skip-host-cache
skip-name-resolve
max_connections = 200
query_cache_size = 64M
query_cache_limit = 2M
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_flush_method = O_DIRECT
log_error = /var/lib/mysql/mariadb-error.log